.config/rclone/
.config/kdeconnect/trusted_devices
.config/kdeconnect/certificate.pem
.config/kdeconnect/privateKey.pem
.config/zsh/.zsh_history
.config/ml4w/cache
.config/ml4w/cache
.config/github-copilot
.config/heroic
.config/nushell/history.txt
.config/Ryujinx
.config/citra-emu
.config/sudachi
.config/mimeapps.list
.config/QtProject.conf
