[Interface]
PrivateKey = {{ wg.wg0_priv_key }}
Address = {{wg.wg0_addr}}/{{ wg.wg0_cidr }}

[Peer]
PublicKey = i/gUVS4o2y444rdo6U+0EUPjufpc4G5sLtUdOf9fCAE=
AllowedIPs = 192.168.0.0/20
Endpoint = {{ wg.wg0_endpoint }}:{{ wg.wg0_port }}
